{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="small-12 columns">
        <div class="row">
        <div class="small-4 columns">
            <h3>Occupied</h3>
            <hr>
            <h1>5</h1>
        </div>
        <div class="small-4 columns">
            <h3>Reserved</h3>
            <hr>
            <h1>5</h1>
        </div>
        <div class="small-4 columns">
            <h3>Free</h3>
            <hr>
            <h1>5</h1>
        </div>
        </div>

    </div>
</div>
{% endblock %}