<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='foundation-6/css/foundation.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='typography.css')}}">
    <script src="{{ url_for('static', filename='foundation-6/js/vendor/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='tables.js')}}"></script>
</head>
<body>
    <header>
        <div class="row">
            <div class="small 12 columns">
                <div class="header__logo">
                    <img style="height: 50px;" src="http://flaticons.net/gd/makefg.php?i=icons/Miscellaneous/Car.png&amp;r=255&amp;g=255&amp;b=255">
                    <h1>Parking Manager</h1>
                </div>
                <div clas="nav">
                    <a class="header__tab {%- if request.path == '/pages/states' %} active{% endif %}"  href="/pages/states">Attendant</a>
                    <a class="header__tab {%- if request.path == '/pages/tables' %} active{% endif %}" href="/pages/tables">Manager</a>
                    <a class="header__tab {%- if request.path == '/pages/reports' %} active{% endif %}" href="/pages/reports">Reports</a>
                </div>
            </div>
        </div>
    </header>
    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='foundation-6/js/vendor/what-input.min.js')}}"></script>
    <script src="{{ url_for('static', filename='foundation-6/js/foundation.min.js')}}"></script>
</body>
</html>